<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        #appArea {background-color: beige;}
        #header {
            background-color: rgb(148, 58, 58);
            border-style: solid;
        }
        #courses {
            border-style: solid;
        }
    </style>

</head>
<body>
    <h1>Missouri Western Course Search</h1>
    <div id="appArea">
        <label>Department Type:</label>
        <input type="text" v-model="picked">
        
        <div class="container">
            <div class="row" id="header">
                <div class="col-1">Course</div>
                <div class="col-3">Title</div>
                <div class="col-1">Hrs</div>
                <div class="col-1">Days</div>
                <div class="col-1">Times</div>
                <div class="col-1">Room</div>
                <div class="col-2">Type</div>
                <div class="col-2">Instructor</div>
            </div>
        <div v-for="co of byTitle" class="row" id="courses">
            <div class="col-1">{{co.id}}</div>
            <div class="col-3">{{co.title}}</div>
            <div class="col-1">{{co.credits}}</div>
            <div class="col-1">{{co.meetings[0].day}}</div>
            <div class="col-1">{{co.meetings[0].time}}</div>
            <div class="col-1">{{co.meetings[0].room}}</div>
            <div class="col-2">{{co.mode}}</div>
            <div class="col-2">{{co.instructor}}</div>
        </div>
        </div>
    </div>
    <footer>
        <hr>
    </footer>
    <script src="./app.js">
    </script>
</body>
</html>